---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!-- begin top-line -->
<div class="nav">
    <nav class="nav__main">
        <ul>
            <li><a href="#effects">Для чего</a></li>
            <li><a href="#features">Особенности</a></li>
            <li><a href="#usage">как использовать</a></li>
            <li><a href="#purchase">как заказать</a></li>
            <li><a href="#order">заказать со скидкой</a></li>
        </ul>
    </nav>
    <div class="nav__trigger">
        <span>Menu</span>
    </div>
    <nav class="nav__mobile"></nav>
</div>
</div>
<!-- end top-line -->

<!-- begin header -->
<header class="header" role="banner">

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1 class="h1 mb-20">
                    <div class="em">GOJI CREAM</div>
                </h1>
                <img src="img/product.png" class="img-responsive" alt="Photo of product"/>
            </div>
            <div class="col-lg-4">
                <h2 class="h2"><strong>Со скидкой - 50%</strong></h2>
                <p class="txt txt--big">Управляй своей кожей в любом возросте</p>
                <ul class="conditions">
                    <li>100% Оригинал</li>
                    <li>Оплата при плучении</li>
                    <li>Быстрая доставка</li>
                    <li>Натуральный состав</li>
                </ul>
                <div class="price">
                    <div class="price__old">98Є</div>
                    <div class="price__new">49Є</div>
                </div>
                <h2 class="h2">До конца расспродажи:</h2>
                <div class="mt-20 mb-20">
                    <div class="h1 em text-center">
                        <div class="js-timer">00 : 00 : 00</div>
                    </div>
                </div>
                <a href="#order" class="btn">Заказать</a>
            </div>
        </div>
    </div>

</header>
<!-- end header -->


<!-- begin main -->
<main class="main" role="main">

    <!-- begin info -->
    <div class="info">
        <div class="container">

            <!-- begin effects -->
            <section class="effects" id="effects">
                <header class="effects__header">
                    <div class="col-md-6 offset-md-3">
                        <p class="txt text-center">GoJI CREam подойдет абсолютно для любого возвроста</p>
                        <h2 class="h2 h2--gold mt-20 mb-20">ДЛЯ ЧЕГО?</h2>
                    </div>
                </header>

                <div class="effects__list">
                    <div class="effect">
                        <div class="effect__title">Сглаживать</div>
                        <div class="effect__desc">Способствует сглаживанию кожи. Придает этастичности.</div>
                    </div>
                    <div class="effect">
                        <div class="effect__title">Уменьшать</div>
                        <div class="effect__desc">Способствует уменьшению морщин, поднятию формы лица</div>
                    </div>
                    <div class="effect">
                        <div class="effect__title">Защищать</div>
                        <div class="effect__desc">Способствует уменьшению воздействия ультрофиолетовых лучей</div>
                    </div>
                </div>
            </section>
            <!-- end effects -->

            <div class="text-center mt-20 mb-20">
                <a href="#order" class="btn btn--inline">Заказать со скидкой</a>
            </div>

            <!-- begin features -->
            <div class="features" id="features">
                <header class="features__header">
                    <h2 class="h2 h2--gold">ОСобенности goji cream</h2>
                    <p class="txt txt--big">В каждом грамме оригинального<br/> goji cream до 1000 ягод Годжи</p>
                </header>

                <!-- begin features__list -->
                <div class="features__list">
                    <div class="feature">
                        <div class="icon-leaflet mh-auto"></div>
                        <div class="feature__txt">Только натуральный ингридиенты</div>
                    </div>

                    <div class="feature">
                        <div class="icon-perfume mh-auto"></div>
                        <div class="feature__txt">приятный зарах</div>
                    </div>

                    <div class="feature">
                        <div class="icon-shield mh-auto"></div>
                        <div class="feature__txt">100% оригинал</div>
                    </div>

                    <div class="feature">
                        <div class="icon-money-box mh-auto"></div>
                        <div class="feature__txt">Хорошая цена</div>
                    </div>

                    <div class="feature">
                        <div class="icon-fruit mh-auto"></div>
                        <div class="feature__txt">витамины, минералы и аминокислоты</div>
                    </div>

                    <div class="feature">
                        <div class="icon-ok mh-auto"></div>
                        <div class="feature__txt">Прост в применении</div>
                    </div>
                </div>
                <!-- end features__list -->
            </div>
            <!-- end features -->

        </div>
    </div>
    <!-- end info -->


    <!-- begin usage -->
    <section class="usage" id="usage">
        <div class="container">

            <header class="usage__header">
                <h2 class="h2 h2--title">Как использовать?</h2>
            </header>

            <!-- begin usage__items -->
            <div class="usage__items">
                <div class="usage-items">
                    <div class="usage-items__pic">
                        <div class="icon-face-1"></div>
                    </div>
                    <div class="usage-items__title">Удалите макияж</div>
                    <div class="usage-items__txt">Удалите весь макияж с мылом или моющим средством</div>
                </div>

                <div class="usage-items">
                    <div class="usage-items__pic">
                        <div class="icon-face-2"></div>
                    </div>
                    <div class="usage-items__title">Нанисите крем</div>
                    <div class="usage-items__txt">Нанесите крем на кожу круговыми движениями, избегая области вблизи
                        глаз.
                    </div>
                </div>

                <div class="usage-items">
                    <div class="usage-items__pic">
                        <div class="icon-face-3"></div>
                    </div>
                    <div class="usage-items__title">Подождите</div>
                    <div class="usage-items__txt">Не умывайтесь в течении 20 минут, за это время крем полностью вптается
                    </div>
                </div>
            </div>
            <!-- end usage__items -->
        </div>

    </section>
    <!-- end usage -->


    <!-- begin purchase -->
    <section class="purchase" id="purchase">
        <div class="container">

            <header class="purchase__header">
                <h2 class="h2 h2--title">Как заказать?</h2>
            </header>

            <!-- begin order__steps -->
            <div class="purchase__steps">
                <div class="step">
                    <div class="step__pic">
                        <div class="icon-document"></div>
                    </div>
                    <div class="step__txt">
                        1. Заполните форму на нашем веб-сайте
                    </div>
                </div>

                <div class="step">
                    <div class="step__pic">
                        <div class="icon-operator"></div>
                    </div>
                    <div class="step__txt">
                        2. Подождите, пока один из наших операторов позвонит
                    </div>
                </div>

                <div class="step">
                    <div class="step__pic">
                        <div class="icon-truck"></div>
                    </div>
                    <div class="step__txt">
                        3. Получение и оплата
                    </div>
                </div>
            </div>
            <!-- end order__steps -->

            <footer>
                <p class="txt mt-20 mb-20">Поспешите разместить заказ по доступной цене! Скидка 50%</p>
                <a href="#order" class="btn btn--inline mh-auto">Заказать со скидкой</a>
            </footer>

        </div>
    </section>
    <!-- end order -->


    <!-- begin order -->
    <div class="order" id="order">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">

                    <div class="banner">
                        <div class="banner__content">
                            <div class="col-md-8 offset-md-2">
                                <h3 class="txt">До конца расспродажи:</h3>

                                <div class="h2 h2--gold">
                                    <div class="js-timer">00 : 00 : 00</div>
                                </div>

                                <h2 class="h2 h2--red">Скидка - 50%</h2>

                                <div class="price justify-content-center">
                                    <div class="price__old">98Є</div>
                                    <div class="price__new">49Є</div>
                                </div>

                                <form action="api.php" method="post" class="form">
                                    <input class="form__field" type="text" name="name" placeholder="имя"/>
                                    <input class="form__field" type="text" name="phone" placeholder="Номер телефона"/>
                                    <input class="btn" type="submit" name="go_send" value="заказать"/>
                                </form>
                            </div>
                        </div>

                        <img class="banner__pic" src="img/product.png" alt="Photo of product">
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- end order -->

</main>
<!-- end main -->


<!-- begin footer -->
<footer class="footer" role="contentinfo">
    <div class="container">
        <ul class="service-links">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        <div class="disclaimer">
            <h6>DISCLAIMER 1:</h6>
            <p>We use your personal data (Name & Phone Number) only to call you and verify your order. We don't share
                your personal information with any other authority. Please read carefully our Privacy Policy and our
                Terms & Conditions above before proceeding with the order. If you don't agree with them, please leave
                our website.</p>
            <h6>DISCLAIMER 2:</h6>
            <p>This product is not for use by or sale to persons under the age of 18. This product should be used only
                as directed on the label. It should not be used if you are pregnant or nursing. Consult with a doctor
                before using if you have a serious medical condition or use prescription medications. A Doctor's advice
                should be sought before using this and any other diet product. All trademarks and copyrights are the
                property of their respective owners and are not affiliated with nor do they endorse ChocoLite. These
                statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or
                prevent any disease. By using this site you agree to follow the Privacy Policy and all Terms &
                Conditions printed on this site. Void Where Prohibited By Law.</p>
            <h6>DISCLAIMER 3:</h6>
            <p>Individual diet results may vary.</p>
        </div>
        <div class="copyright">
            © 2018 Copyright. All rights reserved.
        </div>
    </div>
</footer>
<!-- end footer -->
{% endblock %}